*.exe
*.txt
*.pyc
*.png
*.pyd
.vscode/
python/Lib/
hubconf.py
python39.zip
libcrypto-1_1.dll
Scripts
libffi-7.dll
libssl-1_1.dll
setting.pth
share
sqlite3.dll
python.cat
test/
python3.dll
vcruntime140.dll
python39._pth
vcruntime140_1.dll
get-pip.py
python39.dll