__pycache__/
*.py[cod]
*$py.class

.vscode

python
!python/minecraft/**

python/minecraft/yoloFiles/capture.png
python/minecraft/yoloFiles/labels/capture.txt

python/minecraft/posdata/imageColorValues.txt
python/minecraft/posdata/imageColorValues2.txt

*.exe